*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: 'Neue Machina';
    src: url('/Assets/fonts/NeueMachina-Regular.otf');
}
body{
    background-color: black;
    color: #ffff
    ;
}
.main{
    padding: 1rem;
}