.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header img.photo{
    width: 150px;
    border-radius: 50%;
}
.header h1.title{
    text-align: center;
    font-family: 'Neue Machina';
}